.main-bg {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
}

.bg-image {
  background-image: url("../images/bangkok-thailand.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.circle-container {
  position: relative;
  width: 50em;
  height: 50em;
  padding: 0;
  list-style: none;
  margin: auto;
  border: dashed 3px blue;
  border-radius: 50%;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
}

.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2em;
  width: 4em;
  height: 4em;
}

.circle-container > *:nth-of-type(1) {
  transform: rotate(-20deg) translate(29.41176em) rotate(25deg);
}

.circle-container > *:nth-of-type(2) {
  transform: rotate(0.83333deg) translate(29.41176em) rotate(4.16667deg);
}

.circle-container > *:nth-of-type(3) {
  transform: rotate(21.66667deg) translate(29.41176em) rotate(-16.66667deg);
}

.circle-container > *:nth-of-type(4) {
  transform: rotate(42.5deg) translate(29.41176em) rotate(-37.5deg);
}

.circle-container > *:nth-of-type(5) {
  transform: rotate(63.33333deg) translate(29.41176em) rotate(-58.33333deg);
}

.circle-container > *:nth-of-type(6) {
  transform: rotate(84.16667deg) translate(29.41176em) rotate(-79.16667deg);
}

.circle-container img {
  display: block;
  cursor: pointer;
  max-width: 100%;
  filter: grayscale(0);
  transition: .15s;
}

.circle-container img:hover {
  filter: grayscale(100%);
}

.circle-inner {
  position: relative;
  width: 40.5em;
  height: 40.5em;
  padding: 0;
  list-style: none;
  border: solid 3px blue;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  width: 48em;
  height: 48em;
  top: 1em;
  position: absolute;
  padding: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
}

.circle-inner > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1em;
  width: 2em;
  height: 2em;
}

.circle-inner > *:nth-of-type(1) {
  transform: rotate(-20deg) translate(23.82353em);
}

.circle-inner > *:nth-of-type(2) {
  transform: rotate(0.83333deg) translate(23.82353em);
}

.circle-inner > *:nth-of-type(3) {
  transform: rotate(21.66667deg) translate(23.82353em);
}

.circle-inner > *:nth-of-type(4) {
  transform: rotate(42.5deg) translate(23.82353em);
}

.circle-inner > *:nth-of-type(5) {
  transform: rotate(63.33333deg) translate(23.82353em);
}

.circle-inner > *:nth-of-type(6) {
  transform: rotate(84.16667deg) translate(23.82353em);
}

.circle-inner img {
  display: block;
  cursor: pointer;
  max-width: 100%;
  transition: .15s;
}

.circle-inner li:before {
  content: "";
  border: 1px dashed blue;
  width: 36px;
  height: 1px;
  position: absolute;
  top: 13px;
  left: 25px;
}

.ml-50 {
  margin-left: 50px;
}

.info-position {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  width: 300px;
}
/*# sourceMappingURL=style.css.map */